@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
  
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F6FFDE;
}


#navbar{
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  background-color: #AAC8A7;
  font-family: 'Acme', sans-serif;
  position: sticky;
  top: 0;
  
}

#bar{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#bar li a{
  text-decoration: none;
  color: white;
  padding: 8px;
  font-size: 21px;
  user-select: none;
}

#bar li{
  list-style-type: none;
}

#bar #active{
  color: rgb(170, 58, 30);
}

footer{
    background-color: #C9DBB2;
    color: white;
    font-family: 'Acme', sans-serif;
    height: 35px;
}


#home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 250px;
}

#home::before{
  
  content: "";
  position: absolute;
  
  width: 100%;
  background: url("/images/side.jpg") no-repeat center center/cover;
  z-index: -1;
  opacity: 0.880;
  height: 250px;
  top: 0px;
  left: 0px;
}

#order{
  display: flex;
  font-family: 'Acme', sans-serif;
  align-items: center;
  flex-direction: column;
  
}


#center{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

#order .aa{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 345px;
  height: 350px;
  margin-top: 25px;
  user-select: none;
}

.aa .bb{
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 200px;
  padding: 5px;
}

.aa .bb .photu{
  height: 220px;
  width: 170px;
 min-height: 220px;
  
}

.aa .bb .photu img{
  height: 100%;
  width: 100%;
}

.aa .bb .desc{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f2c1;
  min-height: 80px;
  height: 80px;
  width: 170px;
}

.desc h3{
  color: #27374D;
}

#ex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1000px;
  width: 345px;
  
}

#im{
  height: 350px;
  width: 250px;
  margin-top: 10px;
}

#im img{
  height: 100%;
  width: 100%;
}

#war{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 130px;
  width: 345px;
  margin-top: 10px;
  background-color: #e3f2c1;
}

#war p{
  padding: 10px;
  font-size: 17px;
  color: #27374D;
}
#war h4{
  color: #27374D;
  
}
#steps{
  height: 220px;
  width: 345px;
  
  color: #27374D;
  background-color: #aebb8e;
  
}

#steps h3{
  margin-left: 15px;
  margin-top: 10px;
}

#steps ul{
  margin-left: 30px;
  margin-top: 8px;
}

#steps ul li{
  margin-top: 5px;
}

#steps span{
  color: rgb(240, 77, 104);
}

#steps ul li a{
  color: rgb(240, 77, 104);
  text-decoration: none;
}

#barcode{
  margin-top: 15px;
  height: 250px;
  width: 200px;

}

#barcode img{
  height: 100%;
  width: 100%;
}



#ex h2{
  color: #27374D;
  margin-bottom: 20px;
  margin-left: -250px;
  user-select: none;
}

#k14 .desc{
  background-color: #F6FFDE;
}